.caption {
  display: inline;
}

.label {
  position: relative;
  top: -5px;
}

.param {
  margin-bottom: 28px;
}

.custom_attribute {
  margin-top: 12px;
}

.button_submit {
  font-size: 16pt;
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 24px;
}

input,
select {
  margin-top: 8px;
}

/* Tooltips courtesy of https://www.w3schools.com/howto/howto_css_tooltip.asp */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -136px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
